body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sidebar{
    width: 15rem;
    height: 100%;
    background-color: #2E8B57;
    border-right: 3px dashed #FFF;
}

.navbar-1{
    width: 100vw;
    height: 100px;
    background-color: #0d192e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-2{
    width: 100vw;
    height: 100px;
    background-color: #0d192e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-cerrar{
    margin-right: 1rem;
    cursor: pointer;
    width: 120px;
    height: 50px;
    background: none;
    border: 1px solid #FFF;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-cerrar{
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
}

#text-cerrar:hover{
    color: #3498db;
}

#loader{
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

#sub-container{
    display: flex;
    width: 100vw;
    height: 500px;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#sub-container .sidebar ul{
    padding: 0;
    margin: 0;
}

#sub-container .sidebar ul li{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    padding: 15px 0;
    border-bottom: 2px solid #FFF;
    color: #FFF;
    list-style: none;
    text-align: center;
}

#sub-container .sidebar ul li:hover, .active{
    background: #483D8B;
}

#one-message{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-1{
    margin-top: 1.5rem;
    width: 80%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.box-1 #number{
    padding: 8px;
    width: 90%;
    height: 90%;
    background: none;
    border: none;
    outline: none;

}

.box-1 .lb-number{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    pointer-events: none;
    border-bottom: 2px solid #c7c7c7;
}

.box-1 .lb-number::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #0d192e;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.lb-text{
    position:  absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 14px;
}

.box-1 #number:focus + .lb-number .lb-text, .box-1 #number:valid + .lb-number .lb-text{
    transform: translateY(-150%);
    font-size: 14px;
    color: #000;
}

.box-1 #number:focus + .lb-number::after, .box-1 #number:valid + .lb-number::after{
    transform: translateX(0%);
}

.box-2{
    position: relative;
    margin-top: 4rem;
}

#message{
    resize: none;
}

#message:focus{
    outline: none !important;
    border: 1px solid #0d192e;
    box-shadow: 0 0 10px #719ECE;
}

#enviarbtn{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    outline: none;
    color: #FFF;
    background: #2E8B57;
    border: none;
}


#enviarbtn:disabled{
    cursor: not-allowed;
    background-color: #2E8B57;
    color: #FFF;
    opacity: 0.7;
}

.enviando{
    position: relative;
    margin-left: 1.2rem;
    width: 260px;
    height: 50px;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviando span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear 1s infinite;
}

@keyframes animate1{

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

.enviando span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear 1s infinite;
}

@keyframes animate2{

    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(100%);
    }
}

.enviando span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear 1s infinite;
}


@keyframes animate3{

    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}

.enviando span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear 1s infinite;
}

@keyframes animate4{

    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(-100%);
    }
}

.enviando p{
    animation: textAnimation 1s linear infinite;
}

@keyframes textAnimation{
    
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sent{
    margin-left: 1.2rem;
    width: 260px;
    height: 50px;
    font-weight: bold;
    color: #FFF;
    background: #006400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sent i{
    margin-left: 0.5rem;
}





